$bg-primary: #ebf3fa;
$bg-secondary: #bed5e8;
$bg-footer: #595d61;
$bg-grey: #b3b3b3;
$bg-black: #1a1a1a;
$bg-white: #f3f0f0;
$text-welcome: #e1f2f0;
$text: #3a3c3d;
$title: #1b1c1c;
$text-footer: #eee6de;
$title-footer: #ef8914;
$text-link: #063f80;
